<!DOCTYPE html>
<html>
<head>
  <title>Taylor Zane</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div id="main">
    <section id="wrapper" class="{{currentContent.text ? 'top' : 'middle'}} wrap">
      <div id="name">{{name}}</div>
      <div id="links">
        <span v-repeat="links">
          <a class="{{currentContent.link === label ? 'active' : ''}}" v-on="click: setContent(label)">{{label}}</a>
          <span v-if="$index < 3" class="tab">|</span> <!-- FIXME: Change this to calculate length of links. -->
        </span>
      </div>
      <div id="content" v-if="currentContent.text !== undefined">
        <br/>
        {{{currentContent.text}}}
        <!-- TODO: Implement this a little better. -->
        <p>
        <a v-on="click: setContent('')">return</a>
      </div>
    </section>
  </div>
</body>
</html>
