tz-white = hsla(219, 20%, 84%, 1)
tz-gray = hsla(200, 19%, 18%, 1)
tz-blue = hsla(175, 32%, 58%, 1)

// @font-face {
//     font-family: SanFrancisco;
//     src: url(SanFrancisco.woff);
// }

#name
  // margin-top 40px
  font-size 4rem
  line-height 1
  // padding-bottom 4rem
  text-align center
  text-transform uppercase
  border 4px solid tz-white
  width: intrinsic
  width: max-content
  width: -moz-max-content
  width: -webkit-max-content
  margin: 0 auto;
  padding: 20px

body
  font-family "Helvetica", sans-serif
  background-color: tz-gray
  font-weight: lighter
  color: tz-white
  margin-top 40px


#content-tabs
  position: relative;
  min-height: 200px; /* This part sucks */
  clear: both;
  display flex
  justify-content space-around
  // margin: 25px 0;

  margin: 40px auto;
  max-width: 700px;
  line-height: 1.6;
  font-size: 1.4rem;
  padding: 0 10px

  .content-tab {
    float: right;
  }
  .content-tab label {
    background: tz-gray;
    padding: 10px;
    // border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
  }
  .content-tab [type=radio] {
    display: none;
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: tz-gray
    right: 0;
    bottom: 0;
    padding: 20px;
    display none
    // border: 1px solid #ccc;
  }
  [type=radio]:checked ~ label {
    // background: white;
    // border-bottom: 1px solid white;
      color: tz-blue
      // z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    // z-index: 1;
    display initial
  }



// .wrap {
//   position: relative;
//   text-align: center;
//   -webkit-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
//   -moz-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
//   -o-transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
//   transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
// }

// .top {
//   top: 0;
//   transform: translateY(0);
// }

// .middle {
//   top: 25%;
//   transform: translateY(-25%);
// }

// .active {
//   border-bottom: 1px solid white;
//   color: white;
// }

a {
  color: tz-blue
  text-decoration: none
  transition border-bottom 1s
  border-bottom: 0px solid tz-blue

  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: tz-blue;
    height: 4px;
    transition-property "left, right"
    transition-duration 1s
    transition-timing-function ease-out
  }

  &:hover,
  &:focus,
  &:active {

    &:before {
      left: 0;
      right: 0;
    }
  }
}

// a:hover {
//   border-bottom: 1px solid tz-blue;
// }


// @media only screen and (max-width: 1000px) {
//   #name {
//     font-size: 9em;
//   }

//   #links {
//     font-size: 3em;
//     padding: 20px;
//   }

//   #content {
//     font-size: 3em;
//   }

//   .tab {
//     padding: 0 20px 0;
//   }
// }

// @media only screen and (min-width: 1000px) {
//   #name {
//     font-size: 9em;
//   }

//   #links {
//     font-size: 2em;
//     padding: 20px;
//   }

//   #content {
//     font-size: 1.5em;
//   }

//   .tab {
//     padding: 0 50px 0;
//   }
// }

#pic {
  border-radius: 12.5%;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pic-normal {
  width: 200px;
  height: 200px;
  border: 3px solid white;
}

.pic-small {
  width: 50px;
  height: 50px;
  border: 1px solid white;
}





