#name {
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
  border: 4px solid #ced4de;
  width: intrinsic;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 0 auto;
  padding: 20px;
}
body {
  font-family: "Avenir", "Helvetica", sans-serif;
  background-color: #253137;
  font-weight: lighter;
  color: #ced4de;
  margin-top: 40px;
}
#content-tabs {
  position: relative;
  min-height: 200px /* This part sucks */;
  clear: both;
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.6;
  font-size: 1.4rem;
  padding: 0 10px;
}
#content-tabs .content-tab {
  float: right;
}
#content-tabs .content-tab label {
  background: #253137;
  padding: 10px;
  margin-left: -1px;
  position: relative;
  left: 1px;
  cursor: pointer;
}
#content-tabs .content-tab [type=radio] {
  display: none;
}
#content-tabs .content {
  position: absolute;
  top: 32px;
  left: 0;
  background: #253137;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: none;
}
#content-tabs [type=radio]:checked ~ label {
  color: #72b6b0;
}
#content-tabs [type=radio]:checked ~ label ~ .content {
  display: initial;
}
a {
  color: #72b6b0;
  text-decoration: none;
  transition: border-bottom 1s;
  border-bottom: 0px solid #72b6b0;
  position: relative;
  overflow: hidden;
}
a:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #72b6b0;
  height: 2px;
  transition-property: "left, right";
  transition-duration: 0.09s;
  transition-timing-function: ease-out;
}
a:hover:before,
a:focus:before,
a:active:before {
  left: 0;
  right: 0;
}
#pic {
  border-radius: 12.5%;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pic-normal {
  width: 200px;
  height: 200px;
  border: 3px solid #fff;
}
.pic-small {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}
.job > .first-line {
  display: flex;
}
@media screen and (max-width: 599px) {
  .job > .first-line {
    flex-flow: column;
  }
}
@media screen and (min-width: 600px) {
  .job > .first-line {
    flex-flow: row;
  }
}
.job > .first-line > .title {
  flex: 2 0 0;
  font-weight: 800;
}
.job > .first-line > .period {
  flex: 1 0 0;
  color: #0af;
  font-size: 0.8em;
  display: flex;
  flex-flow: row;
}
@media screen and (min-width: 600px) {
  .job > .first-line > .period {
    align-self: center;
  }
}
@media screen and (min-width: 600px) {
  .job > .first-line > .period > .start {
    flex: 4 0 0;
    text-align: right;
  }
}
.job > .first-line > .period > .dash:before {
  content: "–";
}
@media screen and (min-width: 600px) {
  .job > .first-line > .period > .dash {
    flex: 1 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  .job > .first-line > .period > .dash {
    margin: 0 0.5em;
  }
}
@media screen and (min-width: 600px) {
  .job > .first-line > .period > .end {
    flex: 1 0 0;
    text-align: left;
  }
}
.job > .second-line {
  display: flex;
}
.job > .second-line > .company {
  font-size: 0.8em;
  align-self: center;
}
.job > .third-line {
  display: flex;
  align-items: center;
}
.job > .third-line > .blurb {
  color: #567;
}
.project-list,
.contact-list {
  list-style: none;
  padding-left: 0;
}
.project-list > li > .title,
.contact-list > li > .title {
  font-weight: 800;
}
.project-list > li > .status,
.contact-list > li > .status {
  font-size: 0.8em;
}
.project-list > li > .blurb,
.contact-list > li > .blurb {
  color: #567;
}
